# SPDX-License-Identifier: BSD-3-Clause
# This file is part of the Squishy SCSI multi-tool project.
# https://github.com/squishy-scsi/squishy

ACTION!="add|change|bind",GOTO="squishy_rules_end"

# Squishy DFU Bootloader
SUBSYSTEM=="usb", ATTR{idVendor}=="1209", ATTR{idProduct}=="ca70", GROUP="plugdev", MODE="0660", TAG+="uaccess"
# Squishy Applet mode
SUBSYSTEM=="usb", ATTR{idVendor}=="1209", ATTR{idProduct}=="ca71", GROUP="plugdev", MODE="0660", TAG+="uaccess"

LABEL="squishy_rules_end"
