__pycache__/
_autosave-*
_build/
.coverage
.eggs/
.pyc
.pytest_cache/
.venv/
.vscode/
*.egg-info/
*.FCStd[0-9]
*.kicad_pcb-bak
*.sch-bak
*.slvs~
*.tar*
*.zip
\#auto_saved_files\#
build/
dist/
htmlcov/
kibus.log
pyoxidizer.bzl
test-vcds/
