# SPDX-License-Identifier: BSD-3-Clause

/build

# Python
__pycache__/
*.py[codz]
*.egg-info/
*.eggs/
.venv/
.env/
.nox/
.mypy_cache/
.ruff_cache/

# Coverage Artifacts
.coverage
.coverage.*
coverage.xml
htmlcov/

# Test Artifacts
tests/**/spec_*/
*.vcd
*.fst
*.ghw
*.ftr
*.gtkw
*.surf.ron

# Miscellaneous Artifacts
*.il
*.v
*.sv
*.vhd
*.vhdl
*.bkp

# Docs Inversions
# NOTE(aki): We want to include some files we exclude here in the docs
!docs/_code/**/*.il
!docs/_code/**/*.v
!docs/_code/**/*.sv
!docs/_code/**/*.vhd
!docs/_code/**/*.vhdl
!docs/_code/**/*.vcd
!docs/_code/**/*.gtkw
!docs/_code/**/*.surf.ron

# Code Editors/IDEs
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
