recursive-exclude .github *
recursive-exclude .vscode *
recursive-exclude contrib *
recursive-exclude dist *
recursive-exclude docs *
recursive-exclude examples *
recursive-exclude hardware *
recursive-exclude tests *

exclude .coverage
exclude .editorconfig
exclude .flake8
exclude .gitatributes
exclude .gitignore
exclude CODE_OF_CONDUCT.md
exclude HACKING.md
