recursive-exclude .eggs *
recursive-exclude .github *
recursive-exclude .nox *
recursive-exclude .vscode *
recursive-exclude build *
recursive-exclude contrib *
recursive-exclude docs *
recursive-exclude examples *
recursive-exclude hardware *
recursive-exclude tests *

exclude .coverage
exclude .editorconfig
exclude .gitatributes
exclude .gitignore
exclude CODE_OF_CONDUCT.md
exclude HACKING.md
exclude CONTRIBUTING.md
exclude noxfile.py
