Source: python3-squishy
Maintainer: Aki Van Ness <aki [at] lethalbit [dot] net>
Section: devel
Priority: optional
Standards-Version: 4.4.0
Build-Depends: debhelper (>= 10),
  dh-python,
  python3,
  python3-pip,
  python3-setuptools-scm,

Vcs-Browser: https://github.com/lethalbit/squishy
Vcs-Git: https://github.com/lethalbit/squishy.git
Homepage: https://scsi.moe/

Package: python3-squishy
Architecture: any
Depends: ${shlibs:Depends},
  ${misc:Depends},
  ${python3:Depends},
  python3-construct,
  python3-rich,
  python3-usb1,
  python3-jinja2,
  python3-arrow,
  libpyside2-py3-5.15,
  python3-pyside2.qtcore,
  python3-pyside2.qtgui,
  python3-pyside2.qtwidgets,
  python3-pyside2.qtsvg,
  python3-pyside2.qtuitools,
  python3-pyside2.qtopengl,

Description: SCSI Multitool and Amaranth HDL Library
