furo
matplotlib
myst-parser
sphinx
sphinx-autodoc-typehints
sphinx-codeautolink
sphinx-copybutton
sphinx-design
sphinx-inline-tabs
sphinx-multiversion
sphinxcontrib-mermaid
sphinxcontrib-wavedrom
sphinxext-opengraph
wavedrom
