sphinx
furo
sphinx-inline-tabs
sphinx-autodoc-typehints
sphinxext-opengraph
sphinxcontrib-mermaid
git+https://github.com/wallento/wavedrompy
sphinxcontrib-wavedrom
matplotlib
myst-parser
sphinx-copybutton
sphinx-design
