name: "Squishy Docs"
on:
  push:
    branches:
      - 'main'
    paths:
      - 'docs/**'
      - 'squishy/**'

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    name: 'Linkcheck Docs'
    steps:
      - name: 'Setup Python'
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: 'Initialize Environment'
        shell: bash
        env:
          WORKSPACE: ${{ github.workspace }}
        run: |
          echo "$HOME/.local/bin:$PATH" >> $GITHUB_PATH
          echo "GITHUB_WORKSPACE=\"`pwd`\"" >> $GITHUB_ENV

      - name: 'Checkout Sources'
        uses: actions/checkout@v4

      - name: 'Setup Deps'
        shell: bash
        run: |
          python -m pip install --user --upgrade pip setuptools wheel setuptools_scm nox

      - name: 'Run Documentation Link Check'
        shell: bash
        continue-on-error: true
        run: |
          nox -s docs_linkcheck

  document:
    runs-on: ubuntu-latest
    name: 'Build Documentation'
    permissions:
      contents: write
      pages: write
    steps:
      - name: 'Setup Python'
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: 'Initialize Environment'
        shell: bash
        env:
          WORKSPACE: ${{ github.workspace }}
        run: |
          echo "$HOME/.local/bin:$PATH" >> $GITHUB_PATH
          echo "GITHUB_WORKSPACE=\"`pwd`\"" >> $GITHUB_ENV

      - name: 'Checkout Sources'
        uses: actions/checkout@v4

      - name: 'Setup Deps'
        shell: bash
        run: |
          python -m pip install --user --upgrade pip setuptools wheel setuptools_scm nox

      - name: 'Build Docs'
        shell: bash
        run: |
          nox -s docs

      - name: 'Deploy'
        if: success() && github.repository == 'squishy-scsi/squishy'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build/docs
          clean: true
